NEXT_PUBLIC_API_URL=http://localhost:3005
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_IMAGE_URL=http://localhost:3005/uploads
NEXT_PUBLIC_PYTHON_API_URL=http://localhost:5000
NEXT_PUBLIC_STABLECOIN_API_URL=https://api.stablecoin.chainsolutions.fr
NEXT_PUBLIC_STABLECOIN_API_KEY=your_stablecoin_api_key
NEXT_PUBLIC_MAGIC_PUBLISHABLE_KEY=your_magic_publishable_key
